#banner
	.banner_content
		%h1 NoteBook
		%p Your Virtual NoteBook, never miss your ideas again!
		%button= link_to "Sign Up", new_user_registration_path

#testimonial
	.wrapper
		%p.quote "The most awesome notebook application. Period."
		%p.name - SUKItheFox
#callouts
	.callout_inner
		.wrapper
			.callout
				%h2 Notes
				%p Scallywag lass gally smartly red ensign skysail squiffy gunwalls landlubber or just lubber shrouds poop deck. Draft come about chandler Buccaneer hogshead pillage nipper heave to spike salmagundi tender.  
			.callout
				%h2 Tiny Thoughts
				%p Coxswain jury mast gangway walk the plank grog nipper league pink Jolly Roger hang the jib sheet. No prey, no pay Jack Tar marooned execution dock line overhaul pink handsomely dance the hempen jig driver hands. 
			.callout
				%h2 Ideas
				%p Brigantine deadlights tack topsail crimp lass hardtack bring a spring upon her cable fluke swab ho. 

#bottom_cta
	.wrapper
		%h2! No joke!
		%p You should Sign Up!
		%button= link_to "Click Me!", new_user_registration_path

%footer
	%p &copy; SUKItheFox		



